@font-face {
  font-family: "Apricot200L";
  src: url("./assets/fonts/Web437_Apricot_200L.woff") format("woff");
}

@font-face {
  font-family: "ApricotPortable";
  src: url("./assets/fonts/Web437_ApricotPortable.woff") format("woff");
}

@font-face {
  font-family: "ApricotXenC";
  src: url("./assets/fonts/Web437_ApricotXenC.woff") format("woff");
}

@media
  (resolution: 1dppx),
  (resolution: 2dppx),
  (resolution: 3dppx),
  (resolution: 4dppx)
{
  body {
    font-smooth: never;
  }
}

body {
  text-size-adjust: none;
  
  -moz-osx-font-smoothing: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1, h2 {
  font-family: "ApricotPortable";
}

p,
div,
form {
  /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  /*font-family: "biosfont";*/
  font-family: "ApricotXenC";

}

/*h1 {
  font-size: 2em;
  margin: 1em 0;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0;
}

body {
  font-size: .75em;
}*/
body {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-thickness: 3px;
}

a:hover {
  text-decoration: underline;
}

a.active {
  text-decoration: underline;
}

body {
  background-color: black;
  color: white;
}

.release-code {
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.showcase {
  display: grid;
  grid-template-columns: 256px 1fr;
}

.showcase .cover-area {
  display: flex;
  flex-direction: column;
}

.showcase .cover-area img.cover {
  width: 256px;
  height: 256px;
  border: 1px solid white;
}

.showcase .meta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: flex-start;
}

.showcase .meta .title {
  grid-column-start: 1;
  grid-column-end: 3;
    padding: 0 0 1em 0;
}

.icon::before {
    display: inline-block;
    vertical-align:sub;
    padding: 0 .5em;
    width: 1em;
    height: 1em;
}

.icon.tracks::before {
    content: url(./assets/music.svg);
}
.icon.releases::before {
    content: url(./assets/cd.svg);
}
.icon.artists::before {
    content: url(./assets/artist.svg);
}
.icon.inverted::before {
  filter: invert(1)
}

/* iphone */
@media only screen and (max-width: 600px) {
  .showcase {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .showcase .meta {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
    justify-self: left;
  }

  .showcase .cover-area img {
    width: 100%;
    height: auto;
    border: unset;
  }

  .showcase .meta :nth-child(2n) {
    padding: 0 0 1em 0;
  }

  .root {
    padding: 1em;
  }

  .top .logo {
    width: 100%;
  }

}

/* tablets */
@media only screen and (min-width: 600px) {
  .showcase {
    grid-template-columns: 1fr;
  }

  .root {
    padding: 0 5em;
  }

    .top .logo {
    width: 100%;
  }

}

/*desktop*/
@media only screen and (min-width: 768px) {
  .showcase {
    grid-template-columns: 256px 1fr;
    gap: 4em;
  }

  .root {
    padding: 0 10em;
  }

  .top .logo {
    width: 50%;
  }
}